body {
  margin: 0;
  padding: 0;
  background-color: lightgrey;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .mainContent {
  max-width: 1075px;
  background-color: white;
  width: 100%;
  margin: 25px auto;
  padding: 0 25px;
}

body .mainContent .header-date {
  border-bottom: 1px solid black;
  font-size: 13px;
  font-weight: 400;
  text-align: right;
  padding: 10px 0 0;
  margin: auto;
}

body .mainContent .header-content {
  background-color: #fff;
  padding: 10px 0 0;
}

body .mainContent .header-content h1 {
  color: red;
  width: 100%;
  font-size: 36px;
  font-weight: 700;
  max-width: 540px;
  margin: auto;
  margin-top: 40px;
}

body .mainContent .header-content .header-img {
  height: 150px;
  width: 200px;
}

body .mainContent .header-content .header-box {
  background-color: #3f3f90;
}

body .mainContent .header-content .header-box ul {
  list-style: none;
  margin: 0;
}

body .mainContent .header-content .header-box ul li {
  display: inline-block;
  margin: 10px 35px;
}

body .mainContent nav {
  border-bottom: 2px solid #555353;
}

body .mainContent nav ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  font-size: 15px;
  margin: auto;
}

body .mainContent nav ul li {
  margin-left: 15px;
  margin-right: 15px;
  line-height: 15px;
  font-weight: 500;
}

body .mainContent nav ul li a {
  color: black !important;
}

body .mainContent nav ul li a:hover {
  background-color: #dbcccc;
  border-radius: 15px;
}

body .mainContent section .img2 {
  max-width: 230px;
  width: 100%;
  float: left;
  margin: 0 25px 25px 0;
}

body .mainContent section .img3 {
  width: 100%;
  margin: 0 25px 25px 0;
}

body .mainContent section .clickMe {
  color: blue;
  font-size: 25px;
  text-decoration: underline;
  font-weight: 700;
}

body .mainContent aside #widget .aw-fc-status,
body .mainContent aside #widget .aw-six-hours,
body .mainContent aside #widget .aw-more-sep-2,
body .mainContent aside #widget .aw-more-block {
  display: none !important;
}

body .mainContent aside .sidebar-list {
  padding-top: 4vh;
}

body .mainContent aside .sidebar-list h5 {
  background-color: lightgray;
  text-align: center;
  padding: 10px;
}

body .mainContent aside .sidebar-list ul li {
  border: none;
  margin: 5px 0;
  cursor: pointer;
  padding: 0;
}

body .mainContent aside .sidebar-list ul li img {
  float: left;
  margin: 1vh;
}

body .mainContent aside .sidebar-list ul li p {
  margin-top: 20px;
}

body .mainContent aside .sidebar-img {
  background-color: red;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#c296d6), to(yellow));
  background-image: linear-gradient(to top, #c296d6, yellow);
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 3vh;
  border: 1px solid black;
  cursor: pointer;
}

body .mainContent aside .sidebar-img h3 {
  background-color: #5190cc;
  color: white;
  display: block;
  line-height: 6vh;
}

body .mainContent aside .sidebar-img .sidebar-button {
  -webkit-box-shadow: inset 0px -3px 7px 0px #29bbff;
          box-shadow: inset 0px -3px 7px 0px #29bbff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #2dabf9), to(#0688fa));
  background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa', GradientType=0);
  background-color: #2dabf9;
  border-radius: 10px;
  border: 3px solid #0b0e07;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  padding: 15px 30px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
  margin-bottom: 3vh;
}

body .mainContent aside .sidebar-img .sidebar-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #0688fa), to(#2dabf9));
  background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9', GradientType=0);
  background-color: #0688fa;
}

body .mainContent aside .sidebar-img .sidebar-button:active {
  position: relative;
  top: 1px;
}

body .mainContent footer {
  font-family: Arial, Helvetica, sans-serif;
}

body .mainContent footer .comments-list {
  margin-bottom: 0;
}

body .mainContent footer .comments-list h2 {
  font-weight: 800;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

body .mainContent footer .comments-list .list-group a {
  border: none;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 5vh;
}

body .mainContent footer .comments-list .list-group a h5 {
  font-weight: bold;
  color: black;
  font-style: italic;
}

body .mainContent footer .comments-list .list-group a img {
  float: left;
  padding: 15px;
}
/*# sourceMappingURL=style.css.map */